<h2>Welcome to Request-Trap</h2>

<h3>synopsis</h3>
Any http request made to the url <a href="http://192.241.189.66/trap_id">http://192.241.189.66/trap_id</a>  is captured by the request method and logged into the database.<br><br>

All requests made can be viewed at <a href="http://192.241.189.66/trap_id/requests">http://192.241.189.66/trap_id/requests</a>.<br><br>

A single request can be viewed by selecting the request detail from this page.
